h1 {
    color: #fbf9b6;
	text-align: center;
	font-family: Arial;
}
h2 {
	text-align: center;
    color: #f3f7de;
}
h3{
	color:#ef8e13;
}
ol {
	color:#a77535;
}
ul{
	font-family: comic sans ms;
}
label{
	color:#ef8e13;
}
a {
	color:white;
}