<html>
<head>
<meta charset="utf-8">
<title>Paula Hawkins</title>
</head>
<body bgcolor="#ccccca">
<h1 style="text-align:center;font-family:Arial;color:#350b03"><u>State Central Library of Kerala</u></h1> 
<br>
<h2 style="text-align:center;font-family:Times New roman;color:#261467f0;">Paula Hawkins</h1> 
<img src="static/images/paula.jpg" alt="Author: Paula Hawkins" width="370px" height="500px" border="5" style="float:left";>
<h3 style="text-align:center; color:#261467f0">About</h3>
<p>Hawkins was born and raised in Salisbury, Rhodesia (now Harare, Zimbabwe). Her father was an economics professor and financial journalist. Before moving to 
London in 1989 at the age of 17, Hawkins attended Arundel School, Harare, Zimbabwe then studied for her A-Levels at Collingham College, an independent college 
in Kensington, West London.Hawkins read philosophy, politics and economics at Keble College, University of Oxford.She worked as a journalist for The 
Times, reporting on business. She then worked for a number of publications on a freelance basis, and wrote a financial advice book for women, The Money Goddess.
Around 2009, Hawkins began to write romantic comedy fiction under the name Amy Silver, writing four novels including Confessions of a Reluctant Recessionista. 
She did not achieve any commercial breakthrough until she challenged herself to write a darker, more serious story. Her best-selling novel The Girl on the 
Train (2015), was a complex thriller, with themes of domestic violence, alcohol, and drug abuse.The novel took her six months, writing full-time, to 
complete, at a time when she was in a difficult financial situation and had to borrow from her father to be able to complete it. The novel was adapted into a 
film in 2016. She lives in South London.</p>
<table border="1">
<caption>Her books</caption>
<br>
<thead style="font-family:Verdana;font-size=20px">
<tr><td>Name</td>
<td>Published on</td></tr></thead>
<tr><td>Guerrilla Learning: How to Give Your Kids a Real Education With or Without School</td><td>2001</td></tr>
<tr><td>Confessions of a Reluctant Recessionista</td><td>2009</td></tr>
<tr><td>All I Want for Christmas</td><td>2010</td></tr>
<tr><td>One Minute to Midnight</td><td>2011</td></tr>
<tr><td>The Reunion</td><td>2013</td></tr>
<tr><td>The Girl on the Train</td><td>2015</td></tr>
<tr><td>Into the Waters</td><td>2017</td></tr>
</table>
<br>
<form method="post" action="/">
<input type="submit" value="Sign out">
</form>
</body>
</html>