<html>
<head>
<meta charset="utf-8">
<title>Girl on the train</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}">
</head>
<body background="/static/images/book1.jpg" style="background-repeat:no-repeat; background-size: 1400px 1000px">
<h1 style="text-align:center;font-family:Arial;color:#610505"><u>State Central Library of Kerala</u></h1> 
<br>
<br>
<h2 style="text-align:center;font-family:Times New roman;color:#df1f1f;">Girl on the train -Paula Hawkins</h1> 
<br>
<h3>Summary</h3>
<p>Rachel catches the same commuter train every morning. She knows it will wait at the same signal each time, overlooking a row of back gardens. She's even 
started to feel like she knows the people who live in one of the houses. 'Jess and Jason', she calls them. Their life - as she sees it - is perfect. If only
Rachel could be that happy. And then she sees something shocking. It's only a minute until the train moves on, but it's enough. Now everything's changed. Now 
Rachel has a chance to become a part of the lives she's only watched from afar. Now they'll see; she's much more than just the girl on the train</p>
<h3>Girl on the train Quotes</h3>
<ol>
<li>“Hollowness: that I understand. I'm starting to believe that there isn't anything you can do to fix it. That's what I've taken from the therapy sessions: 
the holes in your life are permanent. You have to grow around them, like tree roots around concrete; you mold yourself through the gaps” </li>
<li>“I have never understood how people can blithely disregard the damage they do by following their hearts."</li>
<li>“But then I think, this happens sometimes, doesn’t it? People you have a history with, they won’t let you go, and as hard as you might try, you can’t 
disentangle yourself, can’t set yourself free. Maybe after a while you just stop trying.” </li>
<li>
“It feels like coming home - not just to any home, but a childhood home, a place left behind a lifetime ago; it's the familiarity of walking up stairs and 
knowing exactly which one is going to creak.”</li>
</ol>
<h4><a href="{{ url_for('author') }}">Author: Paula Hawkins</a></h4>
<form method="post" action="/">
<input type="submit" value="Sign out">
</form>
</body>
</html>
